<div class="container">
    <h2 class="header">Editing User</h2>
    <div class="form-container">
        <%= render 'form', user: @user %>
    </div>
    <div class="toolbar-container">
        <%= link_to 'Show', @user %> |
        <%= link_to 'Back', users_path %>
    </div>
</div>