<div class="container">
  <div class="fixed-action-btn floating-button">
    <%= button_to 'Add',
      {:controller => "pictures", :action => "new"},
      :method=>:get, params: { id: @trip.id },
      class:"btn btn-floating btn-large blue",
      'data-position':"left",
      'data-tooltip': "new image".humanize%>
  </br>
  </div>
</div>
