<ul id='dropdown-countries' class='dropdown-content'>
  <li> <a> Andorra </a> </li>
  <li> <a> United Arab Emirates </a> </li>
  <li> <a> Afghanistan </a> </li>
  <li> <a> Antigua and Barbuda </a> </li>
  <li> <a> Anguilla </a> </li>
  <li> <a> Albania </a> </li>
  <li> <a> Armenia </a> </li>
  <li> <a> Netherlands Antilles </a> </li>
  <li> <a> Angola </a> </li>
  <li> <a> Antarctica </a> </li>
  <li> <a> Argentina </a> </li>
  <li> <a> American Samoa </a> </li>
  <li> <a> Austria </a> </li>
  <li> <a> Australia </a> </li>
  <li> <a> Aruba </a> </li>
  <li> <a> Aland Islands </a> </li>
  <li> <a> Azerbaijan </a> </li>
  <li> <a> Bosnia and Herzegovina </a> </li>
  <li> <a> Barbados </a> </li>
  <li> <a> Bangladesh </a> </li>
  <li> <a> Belgium </a> </li>
  <li> <a> Burkina Faso </a> </li>
  <li> <a> Bulgaria </a> </li>
  <li> <a> Bahrain </a> </li>
  <li> <a> Burundi </a> </li>
  <li> <a> Benin </a> </li>
  <li> <a> Saint Barthélemy </a> </li>
  <li> <a> Bermuda </a> </li>
  <li> <a> Brunei </a> </li>
  <li> <a> Bolivia </a> </li>
  <li> <a> British Antarctic Territory </a> </li>
  <li> <a> Brazil </a> </li>
  <li> <a> Bahamas </a> </li>
  <li> <a> Bhutan </a> </li>
  <li> <a> Bouvet Island </a> </li>
  <li> <a> Botswana </a> </li>
  <li> <a> Belarus </a> </li>
  <li> <a> Belize </a> </li>
  <li> <a> Canada </a> </li>
  <li> <a> Cocos Islands </a> </li>
  <li> <a> Congo - Kinshasa </a> </li>
  <li> <a> Central African Republic </a> </li>
  <li> <a> Congo - Brazzaville </a> </li>
  <li> <a> Switzerland </a> </li>
  <li> <a> Ivory Coast </a> </li>
  <li> <a> Cook Islands </a> </li>
  <li> <a> Chile </a> </li>
  <li> <a> Cameroon </a> </li>
  <li> <a> China </a> </li>
  <li> <a> Colombia </a> </li>
  <li> <a> Costa Rica </a> </li>
  <li> <a> Serbia and Montenegro </a> </li>
  <li> <a> Canton and Enderbury Islands </a> </li>
  <li> <a> Cuba </a> </li>
  <li> <a> Cape Verde </a> </li>
  <li> <a> Christmas Island </a> </li>
  <li> <a> Cyprus </a> </li>
  <li> <a> Czech Republic </a> </li>
  <li> <a> East Germany </a> </li>
  <li> <a> Germany </a> </li>
  <li> <a> Djibouti </a> </li>
  <li> <a> Denmark </a> </li>
  <li> <a> Dominica </a> </li>
  <li> <a> Dominican Republic </a> </li>
  <li> <a> Algeria </a> </li>
  <li> <a> Ecuador </a> </li>
  <li> <a> Estonia </a> </li>
  <li> <a> Egypt </a> </li>
  <li> <a> Western Sahara </a> </li>
  <li> <a> Eritrea </a> </li>
  <li> <a> Spain </a> </li>
  <li> <a> Ethiopia </a> </li>
  <li> <a> Finland </a> </li>
  <li> <a> Fiji </a> </li>
  <li> <a> Falkland Islands </a> </li>
  <li> <a> Micronesia </a> </li>
  <li> <a> Faroe Islands </a> </li>
  <li> <a> French Southern and Antarctic Territories </a> </li>
  <li> <a> France </a> </li>
  <li> <a> Metropolitan France </a> </li>
  <li> <a> Gabon </a> </li>
  <li> <a> United Kingdom </a> </li>
  <li> <a> Grenada </a> </li>
  <li> <a> Georgia </a> </li>
  <li> <a> French Guiana </a> </li>
  <li> <a> Guernsey </a> </li>
  <li> <a> Ghana </a> </li>
  <li> <a> Gibraltar </a> </li>
  <li> <a> Greenland </a> </li>
  <li> <a> Gambia </a> </li>
  <li> <a> Guinea </a> </li>
  <li> <a> Guadeloupe </a> </li>
  <li> <a> Equatorial Guinea </a> </li>
  <li> <a> Greece </a> </li>
  <li> <a> South Georgia and the South Sandwich Islands </a> </li>
  <li> <a> Guatemala </a> </li>
  <li> <a> Guam </a> </li>
  <li> <a> Guinea-Bissau </a> </li>
  <li> <a> Guyana </a> </li>
  <li> <a> Hong Kong SAR China </a> </li>
  <li> <a> Hong Kong </a> </li>
  <li> <a> Heard Island and McDonald Islands </a> </li>
  <li> <a> Honduras </a> </li>
  <li> <a> Croatia </a> </li>
  <li> <a> Haiti </a> </li>
  <li> <a> Hungary </a> </li>
  <li> <a> Indonesia </a> </li>
  <li> <a> Ireland </a> </li>
  <li> <a> Israel </a> </li>
  <li> <a> Isle of Man </a> </li>
  <li> <a> India </a> </li>
  <li> <a> British Indian Ocean Territory </a> </li>
  <li> <a> Iraq </a> </li>
  <li> <a> Iran </a> </li>
  <li> <a> Iceland </a> </li>
  <li> <a> Italy </a> </li>
  <li> <a> Jersey </a> </li>
  <li> <a> Jamaica </a> </li>
  <li> <a> Jordan </a> </li>
  <li> <a> Japan </a> </li>
  <li> <a> Johnston Island </a> </li>
  <li> <a> Kenya </a> </li>
  <li> <a> Kyrgyzstan </a> </li>
  <li> <a> Cambodia </a> </li>
  <li> <a> Kiribati </a> </li>
  <li> <a> Comoros </a> </li>
  <li> <a> Saint Kitts and Nevis </a> </li>
  <li> <a> North Korea </a> </li>
  <li> <a> South Korea </a> </li>
  <li> <a> Kuwait </a> </li>
  <li> <a> Cayman Islands </a> </li>
  <li> <a> Kazakhstan </a> </li>
  <li> <a> Laos </a> </li>
  <li> <a> Lebanon </a> </li>
  <li> <a> Saint Lucia </a> </li>
  <li> <a> Liechtenstein </a> </li>
  <li> <a> Sri Lanka </a> </li>
  <li> <a> Liberia </a> </li>
  <li> <a> Lesotho </a> </li>
  <li> <a> Lithuania </a> </li>
  <li> <a> Luxembourg </a> </li>
  <li> <a> Latvia </a> </li>
  <li> <a> Libya </a> </li>
  <li> <a> Morocco </a> </li>
  <li> <a> Monaco </a> </li>
  <li> <a> Moldova </a> </li>
  <li> <a> Montenegro </a> </li>
  <li> <a> Saint Martin </a> </li>
  <li> <a> Madagascar </a> </li>
  <li> <a> Marshall Islands </a> </li>
  <li> <a> Midway Islands </a> </li>
  <li> <a> Macedonia </a> </li>
  <li> <a> Mali </a> </li>
  <li> <a> Myanmar </a> </li>
  <li> <a> Mongolia </a> </li>
  <li> <a> Macau SAR China </a> </li>
  <li> <a> Macau </a> </li>
  <li> <a> Northern Mariana Islands </a> </li>
  <li> <a> Martinique </a> </li>
  <li> <a> Mauritania </a> </li>
  <li> <a> Montserrat </a> </li>
  <li> <a> Malta </a> </li>
  <li> <a> Mauritius </a> </li>
  <li> <a> Maldives </a> </li>
  <li> <a> Malawi </a> </li>
  <li> <a> Mexico </a> </li>
  <li> <a> Malaysia </a> </li>
  <li> <a> Mozambique </a> </li>
  <li> <a> Namibia </a> </li>
  <li> <a> New Caledonia </a> </li>
  <li> <a> Niger </a> </li>
  <li> <a> Norfolk Island </a> </li>
  <li> <a> Nigeria </a> </li>
  <li> <a> Nicaragua </a> </li>
  <li> <a> Netherlands </a> </li>
  <li> <a> Norway </a> </li>
  <li> <a> Nepal </a> </li>
  <li> <a> Dronning Maud Land </a> </li>
  <li> <a> Nauru </a> </li>
  <li> <a> Neutral Zone </a> </li>
  <li> <a> Niue </a> </li>
  <li> <a> New Zealand </a> </li>
  <li> <a> Oman </a> </li>
  <li> <a> Panama </a> </li>
  <li> <a> Pacific Islands Trust Territory </a> </li>
  <li> <a> Peru </a> </li>
  <li> <a> French Polynesia </a> </li>
  <li> <a> Papua New Guinea </a> </li>
  <li> <a> Philippines </a> </li>
  <li> <a> Pakistan </a> </li>
  <li> <a> Poland </a> </li>
  <li> <a> Saint Pierre and Miquelon </a> </li>
  <li> <a> Pitcairn </a> </li>
  <li> <a> Puerto Rico </a> </li>
  <li> <a> Palestinian Territory </a> </li>
  <li> <a> Portugal </a> </li>
  <li> <a> U.S. Miscellaneous Pacific Islands </a> </li>
  <li> <a> Palau </a> </li>
  <li> <a> Paraguay </a> </li>
  <li> <a> Panama Canal Zone </a> </li>
  <li> <a> Qatar </a> </li>
  <li> <a> Outlying Oceania </a> </li>
  <li> <a> European Union </a> </li>
  <li> <a> Reunion </a> </li>
  <li> <a> Romania </a> </li>
  <li> <a> Serbia </a> </li>
  <li> <a> Russia </a> </li>
  <li> <a> Rwanda </a> </li>
  <li> <a> Saudi Arabia </a> </li>
  <li> <a> Solomon Islands </a> </li>
  <li> <a> Seychelles </a> </li>
  <li> <a> Sudan </a> </li>
  <li> <a> Sweden </a> </li>
  <li> <a> Singapore </a> </li>
  <li> <a> Saint Helena </a> </li>
  <li> <a> Slovenia </a> </li>
  <li> <a> Svalbard and Jan Mayen </a> </li>
  <li> <a> Slovakia </a> </li>
  <li> <a> Sierra Leone </a> </li>
  <li> <a> San Marino </a> </li>
  <li> <a> Senegal </a> </li>
  <li> <a> Somalia </a> </li>
  <li> <a> Suriname </a> </li>
  <li> <a> Sao Tome and Principe </a> </li>
  <li> <a> Union of Soviet Socialist Republics </a> </li>
  <li> <a> El Salvador </a> </li>
  <li> <a> Syria </a> </li>
  <li> <a> Swaziland </a> </li>
  <li> <a> Turks and Caicos Islands </a> </li>
  <li> <a> Chad </a> </li>
  <li> <a> French Southern Territories </a> </li>
  <li> <a> Togo </a> </li>
  <li> <a> Thailand </a> </li>
  <li> <a> Tajikistan </a> </li>
  <li> <a> Tokelau </a> </li>
  <li> <a> East Timor </a> </li>
  <li> <a> Turkmenistan </a> </li>
  <li> <a> Tunisia </a> </li>
  <li> <a> Tonga </a> </li>
  <li> <a> Turkey </a> </li>
  <li> <a> Trinidad and Tobago </a> </li>
  <li> <a> Tuvalu </a> </li>
  <li> <a> Taiwan </a> </li>
  <li> <a> Tanzania </a> </li>
  <li> <a> Ukraine </a> </li>
  <li> <a> Uganda </a> </li>
  <li> <a> United States Minor Outlying Islands </a> </li>
  <li> <a> United States </a> </li>
  <li> <a> Uruguay </a> </li>
  <li> <a> Uzbekistan </a> </li>
  <li> <a> Vatican </a> </li>
  <li> <a> Saint Vincent and the Grenadines </a> </li>
  <li> <a> North Vietnam </a> </li>
  <li> <a> Venezuela </a> </li>
  <li> <a> British Virgin Islands </a> </li>
  <li> <a> U.S. Virgin Islands </a> </li>
  <li> <a> Vietnam </a> </li>
  <li> <a> Vanuatu </a> </li>
  <li> <a> Wallis and Futuna </a> </li>
  <li> <a> Wake Island </a> </li>
  <li> <a> Samoa </a> </li>
  <li> <a> People's Democratic Republic of Yemen </a> </li>
  <li> <a> Yemen </a> </li>
  <li> <a> Mayotte </a> </li>
  <li> <a> South Africa </a> </li>
  <li> <a> Zambia </a> </li>
  <li> <a> Zimbabwe </a> </li>
  <li> <a> Unknown or Invalid Regio </a> </li>
</ul>
<!-- = f.input :locale, icon: 'local_hospital' -->
