<h1> All trips from all users </h1>

<h1> <%= @trips.size %> Trips </h1>

<!-- TODO check for 0 trips  -->

<table>
  <thead>
    <tr>
      <th> Title </th>
      <th> Owner </th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= link_to trip.title, trip %></td>
        <td><%= link_to trip.user.name, trip.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
