<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">TripShare</h5>
        <p class="grey-text text-lighten-4">Developed by Group 38 from CUHK CSCI3100</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Copyright© <%= Time.current.year %>, Group 38. All rights reserved.
    </div>
  </div>
</footer>
