
<div class="navbar-fixed hide-on-med-and-down" id="inicio">
  <nav class="" role="navigation">
    <div class="nav-wrapper container">
      <a href="home" class="brand-logo">iTravel</a>

      <ul class="right hide-on-med-and-down">
        <li><a href="home"> Home </a></li>
        <li><a href="my_trips"> My Trips </a></li>
        <li><a href="explore"> Explore </a></li>
        <li><a href="#!"> Login </a></li>
        
      </ul>
    </div>
  </nav>
</div>
