<div class="parallax-container">

  <div class="row ">

    <div class="caption white-text content-center">
      <h1>TripShare</h1>
      <h3 class="light grey-text text-lighten-3 subtitle">Adventure may hurt you but monotony will kill you.</h3>
    </div>
  </div>

  <div class="parallax">
    <%=image_tag("2.jpg", border: 0)%>
    <div class="parallax-overlay parallax-main-overlay"></div>
  </div>
</div>
