<h2 class="center"> Top <%= @top_trips.size %> trips </h2>

<div class="container">
  <div class="row">
    <div class="col s12 cards-container">
      <%= render @top_trips %>
    </div>
  </div>
</div>
