<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
  <title> <%= yield(:title) %> | iTravel App </title>
</head>
<body>


    <%= render "index_banner" %>

    <%= render "shared/search_bar" %>

    <%= render "top_trips" %>

  </body>
  </html>
