<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
  <title> <%= yield(:title) %> | iTravel App </title>
</head>
<body>
  <h1> iTravel </h1>
  <h2> The way you travel </h2>
  <p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
    velit esse cillum dolore eu fugiat nulla pariatur.
  </p>





    <%= render "shared/search_bar" %>


    <%= render "top_trips" %>



  </body>
  </html>
