<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
  <title> <%= yield(:title) %> | TripShare </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%= render "index_banner" %>
    <%= render "shared/search_bar" %>
    <%= render "top_trips" %>
</body>
</html>
