<li id="city-<%= city.id %>">
  <span class="name"><%= city.name %></span>
  <span class="content"><%= city.description %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(city.created_at) %> ago.
  </span>
</li>
