<div class="container"> 
    <div class="city">
        <h1 class="city_name">
            <%= @city.name %>
        </h1>
    </div>
    <div class="city description">
        <h3 class="city description">
            <%= @city.description %>
        </h3>
    </div>
    <div class="tool-bar">
        <% if user_signed_in?%>
            <% if current_user.id == @city.trip.user_id %>
                <%= link_to 'Edit', edit_city_path(@city), class: "" %> | 
            <% end %>
        <% end %>
        <%= link_to 'Back', @city.trip %>
    </div>
</div>