<div class="container"> 
<%# put it in the middle %>
    <div class="city">
        <h1 class="city_name">city name</h1>
    </div>
    <div class="city description">
        <h3 class="city description">city description</h3>
    </div>
</div>