/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require animate

 */

 @import "materialize/components/color";

 /*** Colors ***/
 /*** $primary-color: color("materialize-red", "lighten-2") !default; ***/

 $primary-color: color("light-blue", "darken-4") !default;
 $primary-color-light: lighten($primary-color, 15%) !default;
 $primary-color-dark: darken($primary-color, 15%) !default;

 /*** $secondary-color: color("teal", "lighten-1") !default; ***/
 $secondary-color: color("light-blue", "darken-4") !default;
 $success-color: color("green", "base") !default;
 $error-color: color("red", "base") !default;
 $link-color: color("light-blue", "darken-1") !default;
 @import "materialize";

 // Media Query Ranges
$navBar-fix: 460px;
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$navBar-fix-query: "only screen and (max-width : #{$navBar-fix})";
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

@mixin column-count($ct) {
  -webkit-column-count: $ct;
  -moz-column-count: $ct;
  column-count: $ct;
}

.cards-container {
  column-break-inside: avoid;
  display: flex;
  flex-flow: row wrap;
  position: relative;

}

@media #{$navBar-fix-query} {
  div.navbar-fixed {
    height: 112px;
    nav {
      height: 112px;
    }
  }
}

@media #{$medium-and-down} {
  h3.subtitle {
    font-size: 2rem;
  }
}

@media #{$small-and-down} {
  .cards-container {
    @include column-count(1);

    .card {
      margin: 5px;
      flex: 0 1 calc(100% - 10px);
    }
  }
}
@media #{$medium-and-up} {
  .cards-container {
    @include column-count(2);

    .card {
      margin: 5px;
      flex: 0 1 calc(50% - 10px);
    }
  }
}
@media #{$large-and-up} {
  .cards-container {
    @include column-count(3);

    .card {
      margin: 5px;
      flex: 0 1 calc(33.3% - 10px);
    }
  }
}


//Styles for demo
.text-center {
  text-align: center;
}

.content-center{
  text-align: center;
  vertical-align: middle;
}

/* parallax */
.parallax-container{
  height: 350px;
}

.parallax-overlay {
  position: absolute;
  background:rgba(0,0,0,0.7);
  z-index: 200;
  width:100%;
  height:100%;
}
