extends ../layout
block content
    h1.
      #{title}
    if user && user.role == 'admin'
      a.btn.btn-primary(href='items/new') New Item
     
    ul
      - each item, i in items
        .card(style='width: 20rem;')
          img.card-img-top(src='data:image/png;base64, #{item.image}' alt='Card image cap',style='width:300px')
          .card-body
            h4.card-title 
              = item.title
            p.card-text
              = "Description: " +item.description
            p.card-text
              = purchases         
            a.btn.btn-primary(href='/items/#{item._id}') More
                            
//For each listed item, you only need to show the item’s ID, 
//title, token value, and the timestamp at which the item was redeemed.
              
