extends ../layout
block content
    h1.
      #{title}
    if user && user.role == 'admin'
      a.btn.btn-primary(href='items/new') New Item

    ul
      - each object, i in object_list
        .card(style='width: 50rem;')
          img.card-img-top(src='data:image/png;base64, #{object.item.image}' alt='Card image cap',style='width:300px')
          .card-body
            h4.card-title
              =  object.item.title
            p.card-text
              = "Token value: " +object.item.token_value
            p.card-text
              = "Purchased: " + object.purchase
            p.card-text
              = "Item Id: " + object.item._id

            
            a.btn.btn-primary(href='/items/#{item._id}') More

//For each listed item, you only need to show the item’s ID,
//title, token value, and the timestamp at which the item was redeemed.
